---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import income from "../data/income.json";
import spending from "../data/spending.json";
import sponsors from "../data/sponsors.json";

import Image1 from "../assets/invoices/Screenshot 2025-08-16 at 15.51.49.png";
import Image2 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.45.png";
import Image3 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.37.png";
import Image4 from "../assets/invoices/Screenshot 2025-08-16 at 15.51.54.png";
import Image5 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.50.png";
import Image6 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.47.png";
import Image7 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.00.png";
import Image8 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.56.png";
import Image9 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.53.png";
import Image10 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.05.png";
import Image11 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.00.png";
import Image12 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.58.png";
import Image13 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.20.png";
import Image14 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.04.png";
import Image15 from "../assets/invoices/Screenshot 2025-08-16 at 15.54.03.png";
import Image16 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.25.png";
import Image17 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.11.png";
import Image18 from "../assets/invoices/Screenshot 2025-08-16 at 15.56.33.png";
import Image19 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.34.png";
import Image20 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.19.png";
import Image21 from "../assets/invoices/Screenshot 2025-08-16 at 15.56.39.png";
import Image22 from "../assets/invoices/Screenshot 2025-08-16 at 15.52.38.png";
import Image23 from "../assets/invoices/Screenshot 2025-08-16 at 15.53.28.png";
import Image24 from "../assets/invoices/Screenshot 2025-08-16 at 15.56.45.png";

const images = [
  Image1,
  Image2,
  Image3,
  Image4,
  Image5,
  Image6,
  Image7,
  Image8,
  Image9,
  Image10,
  Image11,
  Image12,
  Image13,
  Image14,
  Image15,
  Image16,
  Image17,
  Image18,
  Image19,
  Image20,
  Image21,
  Image22,
  Image23,
  Image24,
];

const formatter = new Intl.NumberFormat("id-ID", {
  style: "currency",
  currency: "IDR",
  minimumFractionDigits: 0,
});

const incomeSum = income.reduce(
  (acc, val) => {
    const existingGroup = acc.find((n) => n.group === val.group);
    const group = existingGroup ?? { group: val.group, total: 0 };
    group.total += val.contribution;

    if (!existingGroup) return [...acc, group];
    return acc;
  },
  [] as { group: string; total: number }[]
);
---

<!doctype html>
<html lang="id">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
    />
  </head>
  <body>
    <Header />
    <main class="pb-16">
      <div class="container mx-auto px-4 prose">
        <header>
          <h2>Pembiayaan</h2>
          <p class="-mt-5 text-gray-500 text-lg">
            Tabel pembiayaan yang dikumpulkan melalui iuran dari masing-masing
            Gang
          </p>
        </header>
        <table>
          <!-- head -->
          <thead>
            <tr>
              <th>Nama</th>
              <th>Jumlah</th>
            </tr>
          </thead>
          <tbody>
            {
              incomeSum.map((item) => (
                <tr>
                  <td>{item.group}</td>
                  <td>{formatter.format(item.total)}</td>
                </tr>
              ))
            }
            <tr class="bg-green-100">
              <th class="py-2 px-2">Total</th>
              <th>
                {
                  formatter.format(
                    incomeSum.reduce((acc, val) => acc + val.total, 0)
                  )
                }
              </th>
            </tr>
          </tbody>
        </table>
        <header>
          <h2>Pengeluaran</h2>
          <p class="-mt-5 text-gray-500 text-lg">
            Tabel pengeluaran yang diambil dari dana kolektif dan dana
            sponsorship.
          </p>
        </header>
        <table>
          <!-- head -->
          <thead>
            <tr>
              <th>Keterangan</th>
              <th>Harga</th>
              <th>Jumlah</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {
              spending.map((item) => (
                <tr>
                  <td>{item.name}</td>
                  <td>{formatter.format(item.price)}</td>
                  <td>{item.qty}</td>
                  <th>{formatter.format(item.price * item.qty)}</th>
                </tr>
              ))
            }
            <tr class="bg-green-100">
              <th class="py-2 px-2">Total</th>
              <th></th>
              <th></th>
              <th>
                {
                  formatter.format(
                    spending.reduce((acc, val) => acc + val.price * val.qty, 0)
                  )
                }
              </th>
            </tr>
          </tbody>
        </table>
        <header>
          <h2>Sponsor</h2>
          <p class="-mt-5 text-gray-500 text-lg">
            Tabel sponsorship yang diterima panitia dan diperuntukkan untuk
            keperluan acara.
          </p>
        </header>
        <table>
          <!-- head -->
          <thead>
            <tr>
              <th>Nama</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody>
            {
              sponsors.map((item) => (
                <tr>
                  <td>{item.name}</td>
                  <td>{item.note}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>

      <div class="container mx-auto prose">
        <header>
          <h2>Arsip Nota / Invoices</h2>
        </header>
        <div id="masonry">
          {
            images.map((n) => (
              <Image
                class="w-1/2 md:w-1/4 glightbox bg-gray-200"
                src={n}
                width={1200}
                alt=""
              />
            ))
          }
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>

<script>
  import Masonry from "masonry-layout";
  import Glightbox from "glightbox";
  new Masonry("#masonry", {});
  const lightbox = Glightbox({});
</script>
