---
import "../styles/global.css";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="pb-16">
      <section class="px-4 pb-4 container mx-auto">
        <blockquote class="italic text-sm text-gray-600 max-w-[500px]">
          Situs ini berisi material pendidikan sejarah <strong
            >Pahlawan Nasional Indonesia</strong
          > dalam rangka perayaan Hari Kemerdekaan Republik Indonesia ke-80 yang
          diselenggarakan di Mastrip, Jrebeng Wetan, RT 06 / RW 04 Kota Probolinggo.
        </blockquote>
      </section>
      <section class="container mx-auto px-4">
        <div
          class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-2 grid-flow-row"
        >
          {
            posts.map((post) => (
              <div>
                <a class="active:opacity-50" href={`/blog/${post.id}/`}>
                  {post.data.heroImage && (
                    <Image width={480} src={post.data.heroImage} alt="" />
                  )}
                  <h4 style={{ display: "none" }}>{post.data.title}</h4>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
